# Dependencies
/node_modules
/server/node_modules
/web-frontend/node_modules
Build artifacts
/web-frontend/build
/graph.png

# Environment variables
.env
.envrc

# Package lock
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
OS-specific
.DS_Store
Thumbs.db

# Nix environment files
.direnv/
shell.nix
result*
